.page-heading {
    padding-top: 8%;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 400px;
}

.login-btn {
    width: 120px;
}

.error-message {
    color: #f44336; 
    background-color: #fdecea;
    padding: 10px;
    border: 1px solid #f44336;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  .success-message {
    color: #4caf50; 
    background-color: #e8f5e9; 
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  