.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    margin-top: 50px;
    font-family:'Times New Roman', Times, serif;
    color: #26323D;
    letter-spacing: 1px;
    font-size: 52px;
    text-align: center;
}

.empty-list {
    margin-top: 70px;
    height: 200px;
    width: auto;
    margin: 20px;
    display: flex;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color: #26323D;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 5px #C2C1C2;
}
.blog-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-feed-conteiner {
    padding: 20px;
    margin-top: 30px;
    width: 90%;
    height: 250px;
    box-shadow: 2px 2px 5px #C2C1C2;
}

.banner-image {
    height: 400px;
    width: fit-content;
}

.read-more-btn {
    padding: 8px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 2px 2px 5px #C2C1C2;
    border: none;
}

.font-style {
    font-family:'Times New Roman', Times, serif;
    color: #26323D;
    letter-spacing: 1px;
    font-size: 14px;
}


@media (max-width: 900px) {

    // .font-style {
    //     margin-left: 12%;
    //     margin-right: 12%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     font-family: 'Times New Roman', serif;
    //     font-size: 1.1rem; /* Slightly larger font size for better readability */
    //     //line-height: 1.6; /* Increased line height for better readability */
    //     color: #333; /* Darker color for better contrast */
    //     text-align: justify; /* Justify text for a clean look */
    //     letter-spacing: 0.5px; /* Slightly increased letter spacing */
    // }

    .banner-image {
        height: 250px;
        width: 300px;
    }
}