<div class="loader" *ngIf="isLoading">
  <img src="../../../assets/loader.gif" />
</div>

<div class="page">
  <div class="container">
    <div class="page-heading">My Reading List</div>
    <div
      class="empty-list"
      *ngIf="readingList && !readingList.length && !isLoading"
    >
      Seems like your reading list is empty. Please add some blogs to reading
      list to view here!
    </div>
    <div class="blog-container" *ngFor="let blog of readingList">
      <div class="blog-feed-container">
        <div class="heading">{{ blog.title }}</div>
        <div class="blog-content">
          <div class="image-container" *ngIf="blog.imagePath">
            <img
              [src]="blog.imagePath"
              [alt]="blog.title"
              class="banner-image"
            />
          </div>
          <div class="content-container">
            <div
              class="font-style"
              [innerHTML]="blog.content.slice(0, 200)"
            ></div>
            <button
              type="button"
              class="read-more-btn"
              (click)="navigateToBlogDetailsPage(blog.id)"
            >
              Read More
            </button>
            <button class="remove-btn" (click)="removeFromReadingList(blog.id)">
              Remove from Reading List
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
