.subscribe-box {
    align-content: center;
    padding: 30px;
    margin-top: 20px;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 5px #C2C1C2;
    color: #fff;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1E441E; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, #1E441E, #C2EFB3);
    border-radius: 5px;
    text-align: center;
}

.subscribe-input {
    width: 200px;
    align-self: center;
    height: 20px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    color: #26323D;
    letter-spacing: 1px;
    font-size: 12px;
}

.subscribe-btn {
    height: 25px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #090b0d;
    border: none;
    box-shadow: 1px 1px 2px #C2C1C2;
    cursor: pointer;
}

.sub-failed, .sub-success {
    font-size: 16px;
    text-align: center;
}

.sub-success {
    margin-top: 15px;
}
