<div class="page">
  <div class="about-content">
    <p></p>
    <h2>Hi there!</h2>
    <br />

    <h2>Welcome to my tech blog!</h2>
    <p>
      I am Aditya, I have more than 9 years of experience working mostly on
      Frontend technologies. I have worked with JavaScript, and its frameworks
      and libraries like Angular and React. I have been exploring backend tech
      as well with Node JS, along with AI these days.
    </p>

    <b>About this blog!</b>
    <p>
      This is something I started to share my knowledge and understanding about
      various aspects of technology. The main motive of this blog is to enhance
      your understanding of how things work. This isn’t exactly about how to do
      something, but more about in depth understanding of how things work behind
      the scenes.
    </p>

    <b>About me!</b>

    <p>
      I have keen interest in technology and learning new stuffs. I often try
      and explore new technologies, read about problems and the way to solve
      them. I usually am experimenting working or building some product, and
      understanding how things works. I am a keen reader as well, and lately
      have been digging into some books about design, entrepreneurship and
      marketing. I am currently based in Bengaluru, and you can often find me in
      any Third Wave Coffee, grabbing a cup of coffee, and tapping keys on my
      Mac.
    </p>

    <b>React out to me!</b>
    <p>
      This is just the initial version of the blog, so there could be some
      issues or bugs that you come across, if you do I would encourage you to
      please drop an email to me, so that I can look into it personally and get
      it resolved as soon as possible.
    </p>

    <b>Message for you!</b>

    <p>
      If you love talking about tech and learning how things work, this just
      might be a good platform. You can subscribe to my newsletter, whenever I
      publish a new blog, you will be notified on your email and you can check
      it out or add it your reading list.
    </p>

    <p><b><i>No spams from our side, that’s a promise!</i></b></p>

    <p>
      Thanks again for reading and believing!<br />

      - Aditya Sinha
    </p>
  </div>
</div>
