
<div >
    <form (submit)="onSubmitBlog()">
        <p>
            <mat-form-field >
                <mat-label >Enter the Blog's title</mat-label>
                <input matInput [(ngModel)]="blog.title" name="blog_title" >
            </mat-form-field>
        </p>
        

        <ckeditor 
            [editor]="Editor"
            [(ngModel)]="blog.content" 
            data="Write the blog!"
            name="blog_content"
        ></ckeditor>
        <p>
            <button type="submit" mat-raised-button  class="post-blog-btn" color="primary" >Submit</button>
        </p>
    </form>
</div>

{{blog | json}}


