.post-blog-form {
    display: flex;
    flex-direction: column;
}

.post-blog-btn {
    width: 120px;
    margin-top: 30px;
}

.title-field {
    width: 70%;
    margin-top: 30px;
}

.title-field input {
    height: 70px; 
    width: 100%; 
    padding: 7px; 
    border: none; 
    border-radius: 6px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: 'Roboto', sans-serif; 
    font-size: 24px; 
}

input[type="file"] {
    visibility: hidden;
} 

.tag-content {
    width: 150px;
    background-color: #42586C;
    border-radius: 5px;
    color: #FAFAFA;
    padding: 3px;
    padding-left: 7px;
    margin-top: 7px;
}

.banner-preview {
    // height: 5rem;
    // width: 1rem 0;
}

.banner-preview img {
    //height: 100%;
    height: 300px;
    width: 450px;
}

.custom-textarea {
    width: 500px; /* You can customize the width as needed */
  }
  
.custom-textarea textarea {
    height: 100px; 
    width: 100%; 
    padding: 20px; 
    //background-color: #dfe4e8; 
    border: none; 
    border-radius: 6px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: 'Roboto', sans-serif; 
    font-size: 15px; 
    transition: box-shadow 0.3s ease, background-color 0.3s ease; 
  }

  .keyword-content {
    width: 150px;
    //background-color: #42586C;
    border: solid 1px #42586C;
    border-radius: 5px;
    padding: 3px;
    padding-left: 7px;
    margin-top: 7px;
}
