.post-blog-form {
    display: flex;
    flex-direction: column;
}

.post-blog-btn {
    width: 120px;
    margin-top: 30px;
}

.tag-content {
    width: 150px;
    background-color: #42586C;
    border-radius: 5px;
    color: #FAFAFA;
    padding: 3px;
    padding-left: 7px;
    margin-top: 7px;
}