<div class="login-page">
  <h1 class="page-heading">
    Please Login using your credentials
</h1>

<mat-card class="container-card">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field>
            <input type="email" id="email" placeholder="Email" matInput formControlName="email">
            <!-- <mat-error *ngIf="login['email'].hasError('email')"> Please enter a valid email!</mat-error> -->
            <div *ngIf="login['email'].hasError('email') && login['email'].hasError('required')">
                Please enter a valid email address.
              </div>
            
        </mat-form-field>
        <mat-form-field>
            <input type="password" id="password" placeholder="Password" matInput formControlName="password">
            <div *ngIf="loginForm.controls['password']?.hasError('minlength')">
                Password must be at least 6 characters long.
            </div>
        </mat-form-field>
        <button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <!-- <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div> -->
      <div class="forgot-password">
        <p routerLink="/forgot-password" class="nav-item" type="none"> Forgot password </p>
      </div>
</mat-card>
</div>
