<h1 class="page-heading">
    Please Login using your credentials
</h1>

<mat-card>
    <!-- check material documentation for email example, has validation as well -->
    <form class="login-form">
        <mat-form-field class="form-input">
            <mat-label>Email id</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label> Password </mat-label>
            <input type="password" matInput>
        </mat-form-field>
          <button class="login-btn" mat-raised-button>Login</button>
    </form>
    
</mat-card>