<nav class="navbar">
  <ul>
    <li routerLink="/home" class="nav-item-logo" type="none"> DebugTek </li>
    <li routerLink="/about-author" class="nav-item" type="none"> Author </li>
    <li routerLink="/blogs" class="nav-item" type="none"> Blogs </li>
    <li *ngIf="isUserAuthenticated && isAdmin" routerLink="/post-blog" class="nav-item" type="none"> Add New Blog </li>
    <li *ngIf="isUserAuthenticated" routerLink="/my-reading-list" class="nav-item" type="none"> My Reading List</li>
    <li *ngIf="!isUserAuthenticated" routerLink="/login" class="nav-item" type="none"> Login</li>
    <li *ngIf="!isUserAuthenticated" routerLink="/sign-up" class="nav-item" type="none"> Sign Up</li>
    <li class="nav-item" type="none"> <input type="text" class="search-bar" placeholder="Search"></li>
    <li *ngIf="isUserAuthenticated" class="nav-item" type="none"> <button mat-button (click)="logout()"> Logout </button> </li>
    <li routerLink="/" class="nav-item-right" type="none"> {{userDetils?.firstName}}</li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>