<nav class="navbar">
  <ul>
    <li routerLink="/home" class="nav-item-logo" type="none"> Blog </li>
    <li routerLink="/about-author" class="nav-item" type="none"> Author </li>
    <li routerLink="/blogs" class="nav-item" type="none"> Blogs </li>
    <li routerLink="/post-blog" class="nav-item" type="none"> Add New Blog </li>
    <li routerLink="/my-reading-list" class="nav-item" type="none"> My Reading List</li>
    <li class="nav-item" type="none"> <input type="text" class="search-bar" placeholder="Search"></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>