.dialog-container {
    position: relative;
    cursor: default;
    padding: 0;
    margin: 0;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    color: black;
    min-width: 26px;
    min-height: 26px;
    font-size: 14px;
    padding: none;
    margin: none;
    background-color: none;
    z-index: 500;
    border: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

::ng-deep .mat-dialog-container {
    padding: 0;
    margin: 0;
}