<div class="blog-operations-bar">
    <button mat-raised-button color="basic">
        Edit
    </button>

    <button mat-raised-button color="warn" (click)="openDialog()">
        Delete
    </button>
</div>

<div class="blog-content">
    <p class="blog-title">{{selectedBlog.title}}</p>
    <p>
        <img src={{selectedBlog.blog_img_url1}} height="400px" width="650px" class="blog-img"/>
    </p>
    <p *ngFor="let para of selectedBlog.paras">
        {{para}}
    </p>
</div>
<div class="post-comment-card">
    <mat-card >
            <mat-card-content>Comments</mat-card-content>
            <mat-form-field class="comment-text-area">
                <mat-label>Leave a comment</mat-label>
                <textarea rows="2" cols="300" matInput placeholder="Leave a comment..."
                [(ngModel)]="comment" name="comment"></textarea>
            </mat-form-field>
            <button mat-raised-button (click)="onCommentSubmit(comment)" type="button"> Submit Comment</button>
    </mat-card>
</div>

<div class="comments-thread">
    <mat-card *ngFor="let comment of comments">
        <mat-card-content>{{comment}}</mat-card-content>
    </mat-card>
</div>
