.blog-operations-bar {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.blog-img {
    align-items: center;
    height: auto;
    width: 100%;;
}

.blog-content {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
}

.blog-title {
    margin: 50px 0 50px 0;
    font-weight: 400;
    font-size: 32px;
}

.post-comment-card {
    width: 70%;
    margin: auto;
}

.comment-text-area {
    width: 70%;
    margin-right: 10%;
}

.comments-thread {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-box {
    margin-top: 15px;
}

.comment-date {
    font-weight: 400;
    font-size: 10px;
}