<div class="blog-operations-bar">
    <button mat-raised-button color="basic">
        Edit
    </button>

    <button mat-raised-button color="warn" (click)="openDialog()">
        Delete
    </button>
</div>

<div class="blog-content">
    <p class="blog-title">{{selectedBlog.title}}</p>
    <!-- <span [innerHTML]=>"selectedBlog.content"</span> -->
    <span innerHTML={{selectedBlog.content}}></span>
</div>

<div class="post-comment-card">
    <mat-card >
            <mat-card-content>Comments</mat-card-content>
            <mat-form-field class="comment-text-area">
                <mat-label>Leave a comment</mat-label>
                <textarea rows="2" cols="300" matInput placeholder="Leave a comment..."
                [(ngModel)]="comment" name="comment"></textarea>
            </mat-form-field>
            <button mat-raised-button (click)="onCommentSubmit(comment)" type="button"> Submit Comment</button>
    </mat-card>
</div>

<div class="comments-thread">
    <mat-card class="comment-box" *ngFor="let comment of comments">
        <mat-card-content>{{comment.comment}}</mat-card-content>
    </mat-card>
</div>
