<div class="blog-operations-bar">
    <button mat-raised-button color="basic">
        Edit
    </button>

    <button mat-raised-button color="warn" (click)="onDeleteBlog(selectedBlog._id)">
        Delete
    </button>
</div>

<div class="blog-content">
    <p class="blog-title">{{selectedBlog.title}}</p>
    <p>
        <img src={{selectedBlog.blog_img_url1}} height="400px" width="650px"/>
    </p>
    <p *ngFor="let para of selectedBlog.paras">
        {{para}}
    </p>
</div>
<div>
    <mat-card class="comment-section">
        <mat-card-content>Comments</mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Leave a comment..."></textarea>
        </mat-form-field>
    </mat-card>
</div>
